.garbage_form{
  margin: 0 auto;
  width: 100%;
  text-align: center;
  &__header{
    h2{
    font-size: 50px;
    font-weight: bold;
    }
  }
  &__content{
    &__box{
      margin-top: 40px;
      &__title{
        font-size: 50px;
      }
      &__form{
        select{
          padding: 0 auto;
          text-align: center;
          display: inline-block;
          width: 600px;
          font-size: 50px;
          height: 150px;
          background-color: white;
        }
      }
    }
  }
  &__done{
    margin: 100px auto 0;
    input{
      display: inline-block;
      width: 600px;
      font-weight: bold;
      font-size: 50px;
      border-style: none;
      line-height: 150px;
      border: 1px solid black;
      cursor: pointer;
      background-color: #13bf00;
    }
  }
}
#first_week_select{
  display: inline-block;
  margin-right: 10px;
  select{
    padding: 0 auto;
    text-align: center;
    display: inline-block;
    width: 300px;
    font-size: 50px;
    height: 150px;
  }
}
#second_week_select{
  display: inline-block;
  margin-left: 10px;
  select{
    padding: 0 auto;
    text-align: center;
    display: inline-block;
    width: 300px;
    font-size: 50px;
    height: 150px;
  }
}